@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.remark-code, .remark-inline-code {
  font-family: 'Source Code Pro', monospace;
  font-size: 80%;
}
